.content {
  margin-left: 100px;
  transition: 0.3s;
  &.sidebarExpanded {
    margin-left: 260px;
  }
}
.app-body{
  padding-right: 50px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 100%;
}
